/* Ajustes generales */
body {
    background-color: #fafafa;
}

/* Navbar: Se eliminó el limite de ancho para que llegue a las esquinas */
.navbar .container-fluid {
    width: 100%;
}

/* Botones de Vista (Pills) */
.btn-view {
    color: #a0a0a0 !important;
    background-color: transparent !important;
    border: none !important;
    font-size: 1.3rem;
}

.btn-view.active {
    color: #0d6efd !important;
}

/* Imagenes del Grid */
.img-grid {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Estilo de Tarjeta IG */
.post-card {
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}

.post-card .card-header {
    border-bottom: 1px solid #efefef;
}

/* Botón Gear (Gris) */
.btn-secondary {
    background-color: #6c757d;
    border: none;
}

/* Botón Create (Verde) */
.btn-success {
    background-color: #198754;
}

/* Quitar la flecha del dropdown si lo prefieres mas limpio */
.dropdown-toggle::after {
    display: none;
}